<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 class="text-center">Editing <%= tutorial.title %></h1>
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="well clearfix">
                <form action="/tutorials/<%= tutorial._id %>/?_method=PUT" method="POST" id="edit-form">
                    <div class="form-group">
                        <label for="tutorial[title]">Title:</label>
                        <input class="form-control" type="text" value="<%= tutorial.title %>" name="tutorial[title]" required>
                    </div>
                    <div class="form-group">
                        <label for="tutorial[description]">Description:</label>
                        <input class="form-control" type="text" value="<%= tutorial.description %>" name="tutorial[description]" required>
                    </div>
                    <div class="form-group">
                        <label for="tutorial[content]">Content:</label>
                        <textarea class="form-control" rows="20" name="tutorial[content]" id="content" required>
                            <%= tutorial.markdown %>
                        </textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success pull-left" type="submit">Update Tutorial</button>
                    </div>
                </form>
                <form action="/tutorials/<%= tutorial._id %>/?_method=DELETE" method="POST" id="delete-form">
                    <button class="btn btn-danger pull-right" id="tutorial-delete" data-toggle="modal" data-target="#confirm-delete" type="submit"><i class="fa fa-times" aria-hidden="true"></i> Delete Tutorial</button>
                </form>  
            
                <% include ../partials/confirm-modal %>
            </div>
            <a class="btn btn-primary" href="/tutorials/<%= tutorial._id %>"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>