<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="thumbnail">
                <div class="caption-full text-center">
                    <h3><%= tutorial.title %></h3>
                    <p>Created on <%= tutorial.createdOn %> by <%= tutorial.author.username %></p>
                    <p><%= tutorial.content %></p>
                    <% if (currentUser && tutorial.author.id.equals(currentUser._id)) { %>
                        <a href="/tutorials/<%= tutorial._id %>/edit" class="btn btn-warning">Edit Tutorial</a>
                        <form action="/tutorials/<%= tutorial._id %>/?_method=DELETE" method="POST" id="delete-form">
                            <button class="btn btn-danger" type="submit">Delete Tutorial</button>
                        </form>          
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/tutorials/<%= tutorial._id %>/reviews/new">Add Review</a>
                </div>
                <hr>
                <% tutorial.reviews.forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <strong><%= review.author.username %></strong>
                            <span class="pull-right"><%= review.createdOn %></span>
                            <p><%= review.content %></p>
                            <% if (currentUser && review.author.id.equals(currentUser._id)) { %>
                                <a class="btn btn-xs btn-warning"  
                                   href="/tutorials/<%= tutorial._id %>/reviews/<%= review._id %>/edit">Edit
                                </a>
                                <form action="/tutorials/<%= tutorial._id %>/reviews/<%= review._id %>?_method=DELETE" 
                                      method="POST" id="delete-form">
                                    <button type="submit" class="btn btn-xs btn-danger">Remove</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<p><a href="/">Go Back</a></p>

<% include ../partials/footer %>
