<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 class="text-center">Editing <%= tutorial.title %></h1>
        <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <p class="text-center">We support <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown</a></p>
            <div class="well clearfix">
                <button class="btn btn-md btn-default pull-right" id="btn-preview" data-toggle="modal" data-target="#preview-modal">Preview</button>
                <form action="/tutorials/<%= tutorial._id %>/?_method=PUT" method="POST" id="tutorial-form">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input class="form-control" type="text" value="<%= tutorial.title %>" name="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input class="form-control" type="text" value="<%= tutorial.description %>" name="description" required>
                    </div>
                    <div class="form-group">
                        <label for="markdown">Content:</label>
                        <textarea class="form-control" rows="20" name="markdown" id="markdown" required><%=tutorial.markdown%></textarea>
                    </div>
                    <div class="form-group">
                        <div class="pull-left">
                            <input type="hidden" name="isPublished" value="<%= tutorial.isPublished %>" />
                            <button class="btn btn-success" name="update" value="Update Tutorial" type="submit">Update Tutorial</button>
                            <% if (tutorial.isPublished) { %>
                                <button class="btn btn-warning" name="unpublish" value="Unpublish Tutorial" type="submit">Unpublish Tutorial</button>
                            <% } else { %>
                                <button class="btn btn-primary" name="publish" value="Publish Tutorial" type="submit">Publish Tutorial</button>
                            <% } %>
                        </div>
                    </div>
                </form>
                <form action="/tutorials/<%= tutorial._id %>/?_method=DELETE" method="POST" id="delete-form">
                    <button class="btn btn-danger pull-right" id="tutorial-delete" data-toggle="modal" data-target="#confirm-delete" type="submit"><i class="fa fa-times" aria-hidden="true"></i> Delete Tutorial</button>
                </form>  
            
                <% include ../partials/confirm-modal %>
            </div>
            <a class="btn btn-primary" href="/tutorials/<%= tutorial._id %>"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a>
        </div>
        
        <% include ../partials/preview-modal %>
    </div>
</div>
<% include ../partials/footer %>