<% include ../partials/header %>     

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="well clearfix">
                <div class="caption-full">
                    <h1 class="text-center"><%= tutorial.title %></h1>
                    <h3 class="text-center"><%= tutorial.description %></h3>
                    <p class="text-center">
                        <% if (tutorial.editedOn) { %>
                            Edited on <%= moment(tutorial.editedOn).format('MMMM Do YYYY, h:mm a')%>
                        <% } else { %>
                            Created on <%= moment(tutorial.createdOn).format('MMMM Do YYYY, h:mm a') %> 
                        <% } %>
                        by <a href="/users/<%= tutorial.author.username %>"><b><%= tutorial.author.username %></b></a>
                    </p>
                    <% if (currentUser && tutorial.author.id.equals(currentUser._id)) { %>
                        <div class="well clearfix">
                            <a href="/tutorials/<%= tutorial._id %>/edit" class="btn btn-warning pull-left"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Tutorial</a>
                            <form action="/tutorials/<%= tutorial._id %>/?_method=DELETE" method="POST" id="delete-form">
                                <button class="btn btn-danger pull-right" id="tutorial-delete" data-toggle="modal" data-target="#confirm-delete" type="submit"><i class="fa fa-times" aria-hidden="true"></i> Delete Tutorial</button>
                            </form>  
                        </div>
                        <% include ../partials/confirm-modal %>
                    
                    <% } %>
                    <div id="content">
                        <%- tutorial.content %>
                    </div>
                </div>
            </div>
            <div class="well clearfix">
                <% if (tutorial.reviews.length === 0) { %>
                    <div class="text-center">
                        <h3>This Tutorial doesn't have any reviews...yet.</h3>
                        <% if (!currentUser || !tutorial.author.id.equals(currentUser._id)) { %>
                            <h4><a href="/tutorials/<%= tutorial._id %>/reviews/new">Why not be the first?</a></h4>
                        <% } %>
                    </div>
                <% } else { %>
                    <div class="text-right">
                        <a class="btn btn-success" href="/tutorials/<%= tutorial._id %>/reviews/new">Add Review</a>
                    </div>
                    <% tutorial.reviews.forEach(function(review){ %>
                        <hr>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <strong><a href="/users/<%= review.author.username %>"><%= review.author.username %></a></strong>
                                <% if (review.editedOn) { %>
                                    <span class="pull-right">Edited on <%= moment(review.editedOn).format('MMMM Do YYYY, h:mm a')%></span>
                                <% } else { %>
                                    <span class="pull-right">Posted on <%= moment(review.createdOn).format('MMMM Do YYYY, h:mm a')%></span>
                                <% } %>
                                <br />
                                <br />
                                <p><%= review.content %></p>
                                <% if (currentUser && review.author.id.equals(currentUser._id)) { %>
                                    <a href="/tutorials/<%= tutorial._id %>/reviews/<%= review._id %>/edit" class="btn btn-sm btn-warning pull-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                                    <form action="/tutorials/<%= tutorial._id %>/reviews/<%= review._id %>?_method=DELETE" 
                                          method="POST" class="pull-right">
                                        <button type="submit" class="btn btn-sm btn-danger btn-delete"><i class="fa fa-times" aria-hidden="true"></i> Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </div>
            
            <a class="btn btn-primary" href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>