<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="well">
                <h1><%= user.username %></h2>
                <p>
                    <%= user.details %>
                    <% if (currentUser && currentUser.username === user.username) { %>
                        <a href="/account/manage">Edit</a>
                    <% } %>
                </p>
            </div>
            <h2>Tutorials by <%= user.username %></h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4 class="text-center text-muted">Search <%=user.username%>'s Tutorials</h4>
            <form action="/users/<%= user.username %>" method="GET">
                <div id="tutorial-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" name="q" placeholder="Find a Tutorial" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <% if (message !== '') { %>
                <h3 class="text-center"><%= message %></h3>
            <% } %>
        </div>
    </div>
    
    <% if (tutorials.length !== 0) { %>
        
        <% include ../partials/tutorial-list %>

        <% include ../partials/pagination %>
    
    <% } else { %>
        <% if (currentUser && currentUser.username === user.username) { %>
            <h3 class="text-center">You haven't created any tutorials. <a href="/tutorials/create">Let's Get Started!</a></h3>
        <% } %>
    <% } %>
</div>

<% include ../partials/footer %>
